# Database Provider Configuration: "neon" or "supabase" (defaults to "supabase")
DB_PROVIDER=neon

# Neon Database Connection String (required if DB_PROVIDER=neon)
NEON_DATABASE_URL=postgresql://user:password@ep-xyz.neon.tech/neondb?sslmode=require

# Supabase Credentials (required if DB_PROVIDER=supabase)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Gemini API Key
GEMINI_API_KEY=